.presenteFlutuante {
    position: fixed;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 999;
    animation: flutuar 3s ease-in-out infinite;
}

/* Animação Flutuante */

@keyframes flutuar {
    0% { transform: translateY(0px);}
    50% {transform: translateY(-20px);}
    100% {transform: translateY(0px);}
}

#indicadorBuff {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12rem;
    color: rgba(255, 255, 255, 0.15);
    text-shadow: 0 0 20px rgba(0, 229, 255, 0.7);
    z-index: 0;
    font-family: 'Roboto Mono', monospace;
    pointer-events: none;
    user-select: none;
}