.presenteFlutuante {
    position: fixed;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 999;
    animation: flutuar 3s ease-in-out infinite;
}

/* Animação Flutuante */

@keyframes flutuar {
    0% { transform: translateY(0px);}
    50% {transform: translateY(-20px);}
    100% {transform: translateY(0px);}
}

#indicadorBuff {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12rem; /* bem grande, tenta entre 8 e 15 */
    color: rgba(255, 255, 255, 0.06); /* bem transparente, tenta entre 0.05 e 0.15 */
    z-index: 0; /* atrás de tudo */
    font-family: 'Roboto Mono', monospace;
    pointer-events: none; /* importante! evita que ele "intercepte" cliques */
    user-select: none;
}