@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Share+Tech+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#background {
  position: fixed;
  top: -20%;
  left: -20%;
  width: 140%;
  height: 140%;
  background-image: url("../assets/backgroundImg.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

/* CONTAINER DO TOPO */
.cabecalho-jogo {
  display: flex;
  flex-direction: column; /* Em telas normais, empilha o botão e o título */
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

/* TÍTULO  */
#titulo-jogo {
  font-family: "Share Tech Mono", monospace;
  font-size: 2.5rem; /* Usando rem para acompanhar o zoom do navegador */
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  margin: 0;
  max-width: 100%;
  word-wrap: break-word; /* Impede o texto de quebrar a tela em celulares antigos */

  text-shadow:
    0 0 5px rgba(94, 231, 255, 0.6),
    0 0 10px rgba(94, 231, 255, 0.4);
  animation: pulsoEnergia 3s infinite alternate;
}

/* BOTÃO DE ÁUDIO */
.mutar-btn {
  background-color: #111418;
  color: #5ee7ff;
  border: 2px solid #5ee7ff;
  border-radius: 4px;
  padding: 6px 12px;
  font-family: "Share Tech Mono", monospace;
  font-size: 13px;
  cursor: pointer;
  letter-spacing: 1px;
  box-shadow: 0 0 10px rgba(0, 229, 255, 0.1);
  transition: all 0.2s ease;
}

.mutar-btn:hover {
  background-color: rgba(94, 231, 255, 0.1);
  box-shadow: 0 0 15px rgba(94, 231, 255, 0.3);
}

.mutar-btn.mutado {
  color: #ff3333;
  border-color: #ff3333;
}

body {
  background-color: #1a1a1a;
  color: #e0e0e0;
  font-family: "Roboto Mono", "Share Tech Mono", monospace;
  margin: 0;
  padding: 20px;
}

h1 {
  display: flex;
  justify-content: center;
}

.layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/*MENSAGEM NA TELA*/
@keyframes subirSumir {
  0% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50px);
    opacity: 0;
  }
}

#mensagem {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: #1a1d21;
  color: #e0e0e0;
  border: 1px solid #5ee7ff;
  padding: 10px 20px;
  font-family: "Roboto Mono", monospace;
  border-radius: 4px;
  pointer-events: none;
  animation: subirSumir 2.5s ease-out forwards;
}
